#root {
  padding: 1rem;
  max-width: 1900px;
  text-align: left;
}

.mantine-Tabs-tab {
  margin-right: 0.5rem;
}

.comment-card-no-link-decoration {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.comment-card-no-link-decoration:hover {
  color: #2570bc;
}
